<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>

    <add key="to_start" value="member"/>
    <!--10.198.7.51-->
    <!--member,claim,both-->
    <!--http://10.163.15.19:8181-->
    <!--payerDataSynch/memberRegistartion-->

    <add key="MemberRegisterInput" value="C:\Important Files\Injazat\Members\Input\"/>
    <add key="MemberRegisterCollected" value="C:\Important Files\Injazat\Members\Collected\"/>
    <add key="MemberRegisterOutput" value="C:\Important Files\Injazat\Members\Transformed\"/>
    <add key="MRSuccessPath" value="C:\Important Files\Injazat\Members\Upload\Success\"/>
    <add key="MRFailPath" value="C:\Important Files\Injazat\Members\Upload\Fail\"/>
    <add key="MRResultPath" value="C:\Important Files\Injazat\Members\"/>
    <add key="MRLogPath" value="C:\Important Files\Injazat\Members\MRInjazatLogs.csv"/>
    <add key="MRTakeCount" value="2000"/>
    <add key="MemberAPI" value="http://10.198.7.51:8211/api/payerDataSynch/memberRegistartion"/>
    <add key="Bearer" value="Bearer eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJBZG1pbiIsInVzZXJJZCI6MSwiZXhwIjoxNTcwNjc3MDQyfQ.IHqOBHnoe6YTBnvDVJmKMylR3XaA2dvgUFpLRP3ix9c"/>
    <add key ="MemberAPI_user" value ="syncUser"/>
    <add key ="MemberAPI_key" value ="8nFL2Ba4-1A34-4a4a-b14b-7fB12eAF3f32"/>


    <add key="ClaimInput" value="C:\Important Files\Injazat\Claims\Input"/>
    <add key="ClaimCollected" value="C:\Important Files\Injazat\Claims\Collected\"/>
    <add key="ClaimTransform" value="C:\Important Files\Injazat\Claims\Transformed"/>
    <add key="ClaimUploadSuccess" value="C:\Important Files\Injazat\Claims\Upload\Success\"/>
    <add key="ClaimUploadFail" value="C:\Important Files\Injazat\Claims\Upload\Fail\"/>
    <add key="ResultPath" value="C:\Important Files\Injazat\Claims\"/>
    <add key="LogPath" value="C:\Important Files\Injazat\Claims\CSInjazatLogs.csv"/>
    <add key="ClaimActivityPath" value="C:\Important Files\Injazat\Claims\ActivityMapping.csv"/>
    <add key="TakeCount" value="2000"/>
    <add key="Proxy" value="http://10.198.7.51:8181"/>
    <add key="ICMUrl" value="http://10.198.7.51:8181/ICM/ws/ICMService/processtransaction?wsdl"/>
   
  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ICMServiceServiceSoapBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.198.7.51:8181/ICM/ws/ICMService/"
        binding="basicHttpBinding" bindingConfiguration="ICMServiceServiceSoapBinding"
        contract="ICM.ICMService" name="ICMServicePort" />
    </client>
  </system.serviceModel>
</configuration>